/* Inicio Menu */
.dropbtn {
  background-color: rgb(198, 212, 218);
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(170, 36, 36);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* cor de fundo */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #641911;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
  z-index: 1;
}

/* cor texto */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* cor de fundo */
.dropdown-content a:hover {background-color: rgb(132, 175, 33)}

.show {display:block;}
/* FIM MENU */

/* galeria */
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* galeria */

@-ms-viewport {
  width: device-width; }
body {
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* header CERTO */
header.special {
  text-align: center;
  margin-bottom: 4rem; }
  header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; }
/* fim header CERTO */

/* Highlights CERTO*/
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 33.3333333333%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    text-align: center; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #a840409f;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }
/* FIM HIGHLIGHTS */

/* Testimonials CERTO */
.testimonials {
  margin: 2.5rem 0;
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .testimonials > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .testimonials > * {
    width: 33.3333333333%; }
  .testimonials > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .testimonials > :nth-child(-n + 3) {
    padding-top: 0; }
  .testimonials > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .testimonials > :nth-child(3n + 1) {
    padding-left: 0; }
  .testimonials > :nth-child(3n) {
    padding-right: 0; }
  .testimonials > :nth-child(3n + 1),
  .testimonials > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .testimonials .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem; }
    .testimonials .content .author {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .testimonials .content .author blockquote {
        margin: 0; }
      .testimonials .content .author .image {
        margin-right: 2rem;
        width: 20%; }
        .testimonials .content .author .image img {
          border-radius: 100%;
          max-width: 100%; }
    .testimonials .content .credit {
      font-size: 0.75rem; }
    .testimonials .content p:last-child {
      margin: 0; }
  .testimonials > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .testimonials > * {
      width: 50%; }
    .testimonials > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .testimonials > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(3n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(3n + 1),
    .testimonials > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > :nth-child(-n + 2) {
      padding-top: 0; }
    .testimonials > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .testimonials > :nth-child(2n + 1) {
      padding-left: 0; }
    .testimonials > :nth-child(2n) {
      padding-right: 0; }
    .testimonials > :nth-child(2n + 1),
    .testimonials > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .testimonials .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .testimonials > * {
      width: 100%; }
    .testimonials > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .testimonials > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(3n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(3n + 1),
    .testimonials > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .testimonials > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .testimonials > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .testimonials > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .testimonials > :nth-child(2n) {
      padding-right: 1rem; }
    .testimonials > :nth-child(2n + 1),
    .testimonials > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .testimonials > :nth-child(-n + 1) {
      padding-top: 0; }
    .testimonials > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .testimonials > :nth-child(1n + 1) {
      padding-left: 0; }
    .testimonials > :nth-child(1n) {
      padding-right: 0; }
    .testimonials > :nth-child(1n + 1),
    .testimonials > :nth-child(1n) {
      width: calc(100% + 1rem); } }
/* FIM TESTIMONIALS CERTO */

/* Wrapper  CERTO*/
.wrapper {
  padding: 8rem 0 6rem 0 ;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 736px) {
    .wrapper {
      padding: 3rem 0 1rem 0 ; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; } }
      /* FIM WRAPPER CERTO  */
 
/*  INICIO CTA CERTO */
#cta {
  background-color: #ce1b28;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../../images/cta01.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; }
  #cta h1, #cta h2, #cta h3, #cta h4, #cta h5, #cta h6 {
    color: #ffffff; }
  @media screen and (max-width: 980px) {
    #cta {
      background-attachment: scroll; } }
 /* FIM CTA CERTO */

/* Header CERTO*/
#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #111111;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001; }
  #header > .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none; }
  #header > nav > a {
    color: inherit;
    display: inline-block;
    padding: 0 0.75rem;
    text-decoration: none; }
    #header > nav > a:hover {
      color: #ffffff; }

      #header > nav > a[href="#menu"]:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important; }

    @media screen and (max-width: 736px) {
      #header > nav > a {
        padding: 0 0.5rem; }
        #header > nav > a + a[href="#menu"]:last-child {
          margin-left: 0.25rem;
          padding-left: 1rem; }
        #header > nav > a:last-child {
          padding-right: 1rem; } }

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px; }

  #header {
    height: 44px;
    line-height: 44px; } }
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px; } }
/* Fim header */

/* Heading CERTO*/
#heading {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 15rem !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

  #heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading h6 {
    color: #ffffff; }
   
  @media screen and (max-width: 980px) {
    #heading {
      padding: 2rem; } }
/* fim heading */

/* Main CERTO */
#main .content {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
  margin-bottom: 2rem;
  padding: 3rem; }

  @media screen and (max-width: 980px) {
    #main .content {
      padding: 2rem; } }
  @media screen and (max-width: 480px) {
    #main .content {
      padding: 1.5rem; } }